.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero picture {
  display: block;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero > div:last-child {
  padding: 32px 24px 0;
}

.hero h1 {
  margin: 0;
  font-weight: 400;
}

.hero p:first-of-type {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: var(--body-font-size-xs);
  color: var(--taqa-teal);
}

@media (width >= 900px) {
  .hero > div:last-child {
    padding: 40px 32px 0;
  }
}
